[Unit]
Description=Nix Daemon Socket

[Socket]
ListenStream=/nix/var/nix/daemon-socket/socket
SocketMode=0660
SocketUser=root
SocketGroup=nixbld

[Install]
WantedBy=sockets.target