[Unit]
Description=Nix Daemon
Documentation=man:nix-daemon https://nixos.org/manual
After=network.target
ConditionPathIsDirectory=/nix/store

[Service]
ExecStart=/nix/var/nix/profiles/default/bin/nix-daemon --daemon
KillMode=process
LimitNOFILE=1048576
TasksMax=1048576
Delegate=yes

[Install]
WantedBy=multi-user.target